@charset "UTF-8";

*{
    --cor1: #f9ffff;
    --cor2: #99B0D0;
    --cor3: #56EBEF;
    --cor4: #15273F;
    --cor5: #0D1A2D;
}

body{
    background-color: var(--cor5);
}


div#principal{
    background-color: var(--cor4);
    max-width: 350px;
    max-height: 450px;
}